services:
  ollama:
    image: ollama/ollama
    container_name: ih-ollama
    init: true
    networks:
      - ishigami-hills
    ports:
      - 11434:11434
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./volume/ollama/root/.ollama:/root/.ollama
      - /usr/share/zoneinfo/Asia/Tokyo:/etc/localtime:ro
    stdin_open: true
    tty: true

networks:
  ishigami-hills:
    name: ishigami-hills
